
/* change border colour to suit your needs */

*{
    margin: 0px;
    padding: 0px 0px;
}

body{
    background-color: cadetblue;
}

.wrapper{
    margin: 0 auto;
    width: 80%;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
    
}

ul{
     
}

ul li{
    list-style: circle;
    display: inline-block;
    float: left;
    line-height: 40px;  

}

ul li a {
    text-decoration: none;
    font-size: 35px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgray;
    line-height: 60px;
    display: block;
}

ul li a:hover {
    color: black;
}

.imaging{
    width: 75px;
    height: 40px;
    background-image: url(image/download.jfif.jpg);
    background-size: 25%;
    background-position:left;
}

.imaging:hover{
   background-size: 1000%;
}

video{
    width:100%;

}

.videoFraming{
    position: relative;
    left:0px;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}
.videoFraming iframe{
    position: absolute;
    left:0px;
    top: 0px;
    bottom: 0cm;
    right: 0cm;
    height: 100%;
    width: 100%;
}