
/* change border colour to suit your needs */

*{
    margin: 0px;
    padding: 0px 0px;
}

body{
    background-color: cadetblue;
}



nav{
    width: 100%;
    height: 100px;
    background-color: #fff;
    
}

ul{
     
}

ul li{
    list-style: circle;
    display: inline-block;
    float: left;
    line-height: 40px;  

}

ul li a {
    text-decoration: none;
    font-size: 35px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgray;
    line-height: 60px;
    display: block;
}

ul li a:hover {
    color: black;
}
.wrapper{
    margin: 0 auto;
    width: 100%;
}

.banner{
    display: left;
}
.image-info{
    width: 100%;
    padding-left: 50px;
}
.forward{
    padding: 30px 30px 30px;
}
.videoFraming{
    width: 100%;
    position: relative;
    left:0px;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0px;
}

.firstyou{
    position: absolute;
    left:0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}
.secondvim{
    position: absolute;
    left:0px;
    top: 855px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 500px){
    nav{
        width: 100%;
        height: 300px;
        background-color: #fff;
    }

    .wrapper{
        margin: 0 0;
        width: 400px;
        
    }
    .banner{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .image-info{
        width: 400px;
        padding-left: 5px ;
    }
    .forward{
        text-align: center;
        padding: 30px 30px 30px;
    }
    .videoFraming{
        width: 100%;
        position: relative;
        left:0px;
        padding-bottom: 300px;
        padding-top: 0px;
        height: 0px;
    }
    .firstyou{
        display: block;
        margin-left: 7px;
        margin-right: auto;
        width: 100%;
    }
    .secondvim{
        display: block;
        margin-left: 5px;
        margin-right: auto;
        top: 300px;
        width: 100%;
    }
}